/* CLEAR */
body{
    margin: 0;
    background: #0D1422;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* FLEX */
.flex-1{
    flex: 1;
}
.flex-3{
    flex: 3;
}
/* DASHBOARD */
.dashboard{
    display: flex;
    justify-content: center;
    color: #d5d9e9;
    font-family: 'Nunito', sans-serif;
}
.dashboard-content{
    width: 80vw;
    display: flex;
    margin-top: 50px;
}
.dashboard-div{
    display: flex;
}
.profile{
    height: 100%;
    position: relative;
}
.profile-main{
    height: 60%;
    background-color: #5846E9;
    padding: 20px;
    padding-left: 30px;
    border-radius: 5%;
    margin: 0;
}
.profile-main-image{
    margin-top: 10px;
}
.profile-main-image img{
    width: 40%;
    border-radius: 50%;
    border: 4px solid #d5d9e9;
}
.profile-main-content{
    margin-top: 40px;
}
.profile-main-content h1, .profile-main-content p{
    margin: 0;
}
.profile-main-content p{
    font-size: 0.8rem;
}
.profile-main-content h1{
    font-size: 1.8rem;
}
.profile-options{
    position: absolute;
    top: calc(60% + 20px);
    z-index: -10;
    width: calc(100% - 20px);
    background-color: #1E204C;
    border-radius: 5%;
    padding-left: 20px;
    height: calc(40% - 20px);
}
.profile-options ul{
    margin-top: 40px;
    padding-left: 10px;
}
.profile-options ul li{
    font-size: 1rem;
    margin-bottom: 8px;
    color: #47497F;
    font-weight: normal;
}
.profile-options ul li.selected{
    color: #d5d9e9;
    font-weight: bold;
}
.profile-options ul li.selected{
    cursor: default;
}
.dashboard-resume{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 30px;
}
.dashboard-div-content-effect{
    height: 80%;
    background-color: tomato;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.dashboard-resume .dashboard-div-content{
    height: 35vh;
    border-radius: 5%;
    position: relative;
}
.dashboard-resume-info{
    padding: 0px 20px;
    position: absolute;
    width: calc(100% - 40px);
    top: 20%;
    height: 80%;
    z-index: 10;
    border-radius: 10%;
    background-color: #1E204C;
}
.dashboard-resume-info p, .dashboard-resume-info h2{
    margin: 0;
}
.dashboard-resume-info h2{
    font-size: 3rem;
    font-weight: normal;
    margin-top: 20px;
}
.dashboard-resume-info>span{
    font-size: 0.9rem;
    color: #8E91C3;
}
.dashboard-resume-info-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.dashboard-resume-info-header p{
    font-weight: bold;
}
.dashboard-resume-info-header p{
    font-size: 1.2rem;
    align-self: flex-end;
}
.dashboard-resume-info-header span::after{
    content: '...';
    display: inline;
    font-size: 2.5rem;
    font-weight: bold;
}
@media only screen and (max-width: 960px){
    .dashboard-resume-info>span{
        font-size: 0.6rem;
    }
    .dashboard-resume-info-header p{
        font-size: 0.8rem;
    }
    .dashboard-resume-info h2{
        font-size: 2rem;
    }
    .dashboard-resume-info-header span::after{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 760px){
    .dashboard-resume-info>span{
        font-size: 0.5rem;
    }
    .dashboard-resume-info-header p{
        font-size: 0.6rem;
    }
    .dashboard-resume-info h2{
        font-size: 1.5rem;
    }
    .dashboard-resume-info-header span::after{
        font-size: 1.2rem;
    }
    .profile-main-content{
        margin-top: 20px;
    }
    .profile-main p{
        font-size: 0.6rem;
    }
    .profile-main h1{
        font-size: 1.4rem;
    }
    .profile-options ul li{
        font-size: 0.8rem;
    }
}